<form action="Save" method="post">
    <input type="text" name="Name" placeholder="user name" />
    <input type="text" name="Price" placeholder="price" />
    <input type="submit" value="submit"/>
</form>