@model List<Product>

<ul>
    @foreach (var product in Model)
    {
        <li>
            @product.Id - @product.Name - @product.Price
            <a href="/Product/Edit?id=@product.Id">Edit</a>
            <a class="btnDelete" id="@product.Id">Delete</a>
        </li>
    }
</ul>